*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgba(13, 13, 14, 0.8);
    
}
/*carrusel en pagina mi lista al final*/
.contenedor-carrusel{
    width: 300px;
    min-height: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;

    
}
/*codigo para modificar el menu del header*/
.menu-principal{
    width: 100%;
    height: 125px;
    background: rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    

    /*flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.titulo-header{
    margin-left: 2em;
    color: red;
    font-size: 2em;
    transition: all 2s;
}
.titulo-rojo{
    color: red;
}
.titulo-blanco{
    color: seashell;
}
.titulo-header:hover{
    font-size: 3em;
    transition: all 2s;
}
/*codigo para modificar el menu de nav*/
.menu{
    width: 50%;
    height: 50%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.menu .submenu li{
    list-style: none;
    display: inline;
}
.submenu li a{
    text-decoration: none;
    padding: 15px 20px;
    color: white;
    transition: all 1s;
}
.submenu li a:hover{
    font-size: 1.2em;
    background-color: rgba(255,0,0,0.3);
    border-radius: 12px;
    transition: all 1s;
}

/*codigo pa modificar el bloque de presentacion*/
.contenedor-presentacion{
    width: 100%;
    margin: auto;
    margin-top: 3em;
    min-height: 30em;
    background-position: top 1em;
    background-size: cover;
    transition: all 1s;
   
    display: flex;
    align-items: end;
    
    

}
.contenedor-presentacion{
    background-image: url(../img/ozark.jpg);
}

.contenedor-presentacion:hover{
    background-image: url(../img/ozarkdos.jpg);   
}

.contenedor-info h3{
    width: 50%;
    color: whitesmoke;
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-left: 1em;

   
    
}
.contenedor-info p{
    width: 30%;
    color: whitesmoke;
    margin-left: 2em;
    margin-bottom: 1em;

}

.contenedor-descripcion h4{
    width: 50%;
    color: whitesmoke;
    font-size: 1.2em;
    position: relative;
    left: 1em;
    top: 8em;
   
    
}


.promo{
    background-image: url(../img/sinner.jpg);
    background-position: top 1em;
    background-size: cover;
    margin-bottom: 20px;

}
.promo:hover{
    background-image: url(../img/sinneruno.jpg);
    
    
}

.contenedor-principal{
    margin: auto;
    margin-top: 2em;
    width: 1200px;
    min-height: 250px;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    

}
.contenedor-titulo-peliculas{
    width: 16em;
    height: auto;
    color: whitesmoke;
    font-size: 1em;
    

   
}
.contenedor-secundario{
    width: 100%;
    min-height: 200px;
    margin: auto;
    
    display: flex;
    flex-direction: end;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contenedor-pelicula{
    width: 25%;
    min-height: 190px;

    
}

.peliculas-uno{
    background-image: url(../img/hombrearaña.jpg);
    background-size: cover;
}
.peliculas-uno:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-dos{
    background-image: url(../img/vengadores.jpg);
    background-size: cover;
}
.peliculas-dos:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-tres{
    background-image: url(../img/ozarkdos.jpg);
    background-size: cover;
}
.peliculas-tres:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-cuatro{
    background-image: url(../img/mardelatranquilidad.jpg);
    background-size: cover;
}
.peliculas-cuatro:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-cinco{
    background-image: url(../img/alertaroja.jpg);
    background-size: cover;
}
.peliculas-cinco:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-seis{
    background-image: url(../img/batman.jpg);
    background-size: cover;
}
.peliculas-seis:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-ocho{
    background-image: url(../img/screamuno.jpg);
    background-size: cover;
}
.peliculas-ocho:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-nueve{
    background-image: url(../img/archivo81.jpg);
    background-size: cover;
}
.peliculas-nueve:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-diez{
    background-image: url(../img/swuno.jpg);
    background-size: cover;
}
.peliculas-diez:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-once{
    background-image: url(../img/avatarfondo.jpg);
    background-size: cover;
}
.peliculas-once:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-doce{
    background-image: url(../img/sinneruno.jpg);
    background-size: cover;
}
.peliculas-doce:hover{
    transform: scale(1.5);
    transform-origin: center;
}
.peliculas-trece{
    background-image: url(../img/venomdos.jpg);
    background-size: cover;
}
.peliculas-trece:hover{
    transform: scale(1.5);
    transform-origin: center;
}

.contenedor-presentacion-peliculas{
    width: 100%;
    margin: auto;
    margin-top: 3em;
    min-height: 30em;
    background-image: url(../img/007uno.jpg);
    background-position: top 1em;
    background-size: cover;
    transition: all 1s;
   
   

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contenedor-presentacion-peliculas:hover{
    background-image: url(../img/007.jpg);
    *width: 1300px;
    *transition: all 1s;
    
}
.contenedor-presentacion-series{
    width: 100%;
    margin: auto;
    margin-top: 3em;
    min-height: 30em;
    background-image: url(../img/mardeltarn.jpg);
    background-position: top 1em;
    background-size: cover;
    transition: all 1s;
   
   

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contenedor-presentacion-series:hover{
    background-image: url(../img/mar\ de\ la\ tranq.jpg);
    
}



/*seccion pie de pagina - footer*/
.foot-menu{
    width: 100%;
    height: 200px;
    background: rgba(0,0,0,0.8);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contenedor-foot{
    color: silver;
    font-weight: 10px;
}
.submenu-foot li{
    list-style: none;
    padding: 5px 5px;
}
.submenu-foot li a{
    text-decoration: none;
    color: silver;
    
}
.contenedor-link a{
    display: block;
    color: silver;
    text-decoration: none;
    padding: 5px ;

}

